<footer class="footer">
  <div class="container">
    <div class="footer__grid">
      <div class="footer__tagline-col">
        {{ partial "brand.html" (dict "variant" "compact" "theme" "light") }}
        <p class="footer__tagline">Expert menopause care for women in Ontario - delivered by Andrea, a certified menopause practitioner.</p>
      </div>
      <div>
        <p class="footer__col-heading">Navigate</p>
        <ul class="footer__links">
          <li><a href="/#services" class="footer__link">Services</a></li>
          <li><a href="/#how-it-works" class="footer__link">How It Works</a></li>
          <li><a href="/about/" class="footer__link">About Andrea</a></li>
          <li><a href="/faq/" class="footer__link">FAQ</a></li>
        </ul>
      </div>
      <div>
        <p class="footer__col-heading">Book</p>
        <ul class="footer__links">
          <li><a href="{{ .Site.Params.bookingURL | default "#book" }}" class="footer__link">Book an Appointment</a></li>
          <li><a href="mailto:{{ .Site.Params.infoContactEmail}}?subject=Hello" target="_blank" class="footer__link">{{ .Site.Params.infoContactEmail}}</a></li>
          <li><a href="https://www.instagram.com/andreamarshnp/" target="_blank" rel="noopener" class="footer__link footer__link--instagram"><img src="/images/instagram-glyph.png" alt="" width="20" height="20">Follow us on Instagram</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <p>&#169; {{ now.Year }} Ontario Menopause Clinic. All rights reserved.</p>
      <div class="footer__legal">
        <a href="/privacy/">Privacy Policy</a>
        <a href="/medical-disclaimer/">Medical Disclaimer</a>
        <a href="/tos/">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
